.projects-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 5rem;
    padding-left: 5rem;
    width: 30%;
}

.projects-links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    list-style: none;
    height: 60%;
    width: 100%;
}

.projects-title{
    color: var(--color-light);
    margin-bottom: 1rem;
}

.projects-links li{
  width: 100%;
}

.projects-links li button{
  text-align: left;
    font-size: 18px;
    font-weight: 500;
    width: 80%;
    text-decoration: none;
    padding: 12px 24px;
    color: var(--color-light);
    background-color: var(--color-grey);
    border-radius: 4px;
    outline: none;
    border: none;
    transition: 0.5s ease;
    transition-delay: 0.1s;
    cursor: pointer;
}


.projects-links li button:hover{
    margin-left: 1rem;
}
